/RegistrarMascotasGui.class
/RegistrarPersonasGui.class
/RegistrarProductosGui.class
/VentanaPrincipal.class
/VentanaConsultIndividual.class
/VentanaCosultIndividual.class
/ActualizarPersona.class
/VentanaEliminar.class
/VentanaEliminarProductos.class
